* {
    margin: 0px;
    padding: 0;
}

html, body {margin: 0; height: 100%; min-height: 100%;}

body {
    background-color: #2b2b2b;
}

/* Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
    .hamburger {
        display: none;
    }
}

.avatar {
    width: 100%;
    margin: 10px 150px;
}

nav {
    position: fixed;
    background-color: #2b2b2b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 9;
    top: 0;;
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0px 10px;
    overflow: hidden;
    text-align: center;
}
  
nav ul li {
    float: left;
}
  
nav ul li a {
    display: inline-block;
    color: white;
    font-family: "Lato";
    font-size: 18px;
    text-align: center;
    padding: 50px;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #E94560;
    transition: 0.3s;
}
.introduction {
    background-image: url("assets/small-pond-surrounded-by-cliffs-covered-trees-moss.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0px;
}

.icons {
    margin: 50px 150px;
}

.linkedin {
    padding-left: 20px;
}
.github {
    padding-left: 20px;
}
.youtube {
    padding-left: 20px;
}
h1 {
    display: block;
    color: white;
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 75px;

    width: 60%;
    height: 100%;
    position: relative;
    margin-left: 150px;
    margin-top: 100px;
    
    margin-bottom: 10px;
}

p {
    display: block;
    color: white;
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    width: 50%;
    height: 100%;
    position: relative;

    margin: 10px 150px;
}

button:focus {
    outline: none;
}

.buttons {
    position: relative;
    
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 150px;

    display: inline-block;
    justify-content: space-around;
}

.Contact-button {
    position: relative;
    display: block;
    width: 103px;
    height: 49px;

    font-family: "Lato";
    font-size: 18px;
    color: white;

    background-color: #E94560;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.Contact-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0px 15px #E94560;
    transition: 0.3s;  
}

.Contact-button-2 {
    display: none;
}

.Upcoming-events {
    position: relative;
    width: 185px;
    height: 86px;
    border-radius: 6px;

    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #F5F9FC;

    background-color: #E94560;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.Upcoming-events:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0px 25px #E94560;
    transition: 0.3s; 
}

.Explore-projects {
    position: relative;
    width: 185px;
    height: 86px;

    border-radius: 6px;

    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #F5F9FC;

    background: none;
    border-radius: 5px;
    border-style: solid;
    border-color: #f5f9fc;
    border-width: 2px;
    cursor: pointer;
    margin-left: 50px;
    transition: 0.3s;
}

.Explore-projects:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0px 25px rgba(255, 255, 255, .4);
    transition: 0.3s;
}

.hamburger {
    background-color: transparent;
    color: #E94560;
    border: 0;
    font-size: 36px;
    cursor: pointer;
}

.hamburger:focus {
    outline: none;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;  
    display: flex;
;}

footer p {
    font-family: "Varela Round";
    font-size: 14px;
}

.people {
    display: flex;
    margin: 50px auto;
}

h2 {
    font-family: "Varela Round";
    font-size: 20px;
    color: white;
}


/*Small Device - change nav bar to hamburger*/
@media only screen and (max-width: 992px) {

    .Contact-button {
        display: none;
    }
    .nav-ul {
        display: none;
        width: 100%;
        flex-direction: column;
        color: white;
    }

    .nav-ul.show {
        display: flex;
        background-color:  #E94560;
        backdrop-filter: blur(5px);
        border-radius: 6px;
    }

    .hamburger {
        display: block;
    }


    .Contact-button-2 {
        margin-top: 50px;
        margin-bottom: 25px;

        display: block;
        position: relative;
        width: 100%;
        height: 86px;
        border-radius: 6px;
    
        font-family: "Varela Round";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #F5F9FC;
    
        background-color: #E94560;
        border: none;
    
        transition: 0.3s;
    }
}

/* Extra small devices (phones, 600px and down)*/ 
@media only screen and (max-width: 600px) {
    h1{
        font-size: 32px;
        width: 100%;
        height: 100%;
        margin: 20px auto;
        display: block;
        text-align: center;
    }

    p {
        font-size: 18px;
        width: 100%;
        height: 100%;
        display: block;
        margin: 10px auto;
        text-align: center;
    }
    .avatar {
        width: 100%;
        margin: 10px auto;
    }

    .buttons {
        position: relative;
        margin: 15px 30px;
        display: block;
    }
   
    .Upcoming-events {
        display: block;
        position: relative;
        width: 100%;
        height: 86px;
        border-radius: 6px;
    
        font-family: "Varela Round";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #F5F9FC;
    
        background-color: #E94560;
        border: none;
    
        transition: 0.3s;
    }

    .Explore-projects {
        margin: 20px 0px;
        display: block;
        position: relative;
        width: 100%;
        height: 86px;
        border-radius: 6px;
    
        font-family: "Varela Round";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #F5F9FC;
    
        background: none;
        border-radius: 6px;
        border-style: solid;
        border-color: #f5f9fc;
        border-width: 2px;
    
        transition: 0.3s;
    }
    .Contact-button-2 {
        display: block;
        position: relative;
        width: 100%;
        height: 86px;
        border-radius: 6px;
    
        font-family: "Varela Round";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #F5F9FC;
    
        background-color: #E94560;
        border: none;
    
        transition: 0.3s;
    }
}

  
/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}*/

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}*/

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}*/